log/*.log
log/*.pid
tmp/**/*
tmp/*
.DS_Store
doc/api
doc/app
config/database.yml
config/site_keys.rb
*.swp
*.eprj
*.csv
scratch_directory
public/*/cache
public/system/*
db/schema.rb
db/sphinx/*
config/development.sphinx.conf
*~
\#*
rspec.html
coverage
coverage/*
config/initializers/encryption.rb
.bundle
