!link_col = #ffcc00
!reallydark = #131313
!dark = #282828
!darkish = #2D2D2D
!light = #3E3E3E
!title_col = #ff9600
!highlight_bg = #525252
!font_family = "Arial, Lucida Sans Unicode, Lucida Grande, sans-serif"
!code_family = "Lucida Console, Monaco, monospace, Courier New, Bitstream Vera Sans Mono"
// Reset
*
  :padding 0px
  :line-height 1.5em
  :margin 0px

body
  :background #121212 url("/images/background.jpg") top center no-repeat
  :color #FFF
  :font
    :family = !font_family
    :size 11px
// Reset basic stuff how we want it to be.
a
  :font-weight bold
  :color = !link_col
  :text-decoration none

ul
  :margin-top 7px
  :margin-left 10px
li
  :margin-bottom 3px
  :padding-left 10px
ol
  :margin-left 25px
  :list-style decimal-leading-zero
h1,h2,h3,h4,h5,h6
  :font-family 'TitilliumRegular', "Arial", "Lucida Sans Unicode", "Lucida Grande", "sans-serif"
  :color = !title_col
  :margin-left 5px
h1
  :margin-left 15px
  :font-size 28px
h2  
  :font-size 20px
h3
  :font-size 18px
h4
  :font-size 16px
h5
  :color = !title_col
  :font-size 14px
h6
  :color = !title_col
  :font-size 12px
p
  :margin 3px
    :left 8px

// Table layout stuff
table
  :width 920px
  :margin 3px
    :left 8px
  :border-collapse collapse
td
  :background = !reallydark
  :border
    :style solid
    :width 0px 1px 1px 0px
    :color = !light
  :padding 4px
    :left 7px
    :right 6px
th
  :background = !dark
  :border-left = 1px solid !reallydark
  :border-bottom = 1px solid !reallydark
  :padding 4px
tr
  :border-bottom = 1px solid !dark
.toprow
  :border-top = 1px solid !dark
// Forms
label
  :width 160px
  :font-weight bold
  :float left
  :text-align right
  :display block
  :margin-right 10px
  :margin-top 7px
  :text-transform uppercase
input[type="submit"]
  :margin-left 170px
input
  :padding 4px
  :margin 3px
  :font-size 14px
  :background #121212 !important
  :color #FFFFFF
  :border 1px #333333 solid
.checkbox
  :margin-top 9px
// Container
#container
  :width 950px
  :margin auto
    :top 10px
    :bottom 10px
// Header
#header
  :padding-top 5px
  .header_link
    :font-family 'TitilliumBold', "Arial", "Lucida Sans Unicode", "Lucida Grande", "sans-serif"
    :font-size 48px
#links
  :font-size 11px
  :float right
  :clear both 
  :background #121212
  :padding 4px 
  .link_item
    :float left
    :padding
      :left 5px
      :right 5px
// Nav bar and search
#nav
  :background = !dark
  :width 100%
  :height 30px
  :padding 0px
  .nav_item
    :height 30px
    :float left
    :padding
      :left 5px
      :right 5px
  a
    :font-family 'TitilliumMedium', "Arial", "Lucida Sans Unicode", "Lucida Grande", "sans-serif"
    :font-size 20px
#search
  :float right
  :clear both
  input
    :height 15px
    :background #121212
    :color #FFFFFF
    :border 0px solid
// Contents
#content
  :background = url("/images/translucent_bg.png") repeat
  :width 100%
  :padding-bottom 7px
  :padding-left 2px
  :padding-right 2px
#footer
  :margin auto
  :width 950px
  :height 20px
  :font-size 10px
#right-side
  :float right
#left-side
  :float left
#error
  :background = !dark + #440000
  :margin 10px
    :top 0px
  :padding 5px
  :border = 1px solid !light
    :top 0px
  :font-weight bold
  :font-family 'TitilliumMedium', "Arial", "Lucida Sans Unicode", "Lucida Grande", "sans-serif"
#info
  :background = !dark + #004400
  :margin 10px
    :top 0px
  :padding 5px
  :border = 1px solid !light
    :top 0px
  :font-weight bold
  :font-family 'TitilliumMedium', "Arial", "Lucida Sans Unicode", "Lucida Grande", "sans-serif"
// Account#show customs
.account_needs_validation
  :background = !dark + #220000
  :margin 10px
  :border = 1px solid !light
.account_validated
  :background = !dark
  :margin 10px
  :border = 1px solid !light
// Proposal CSS
.proposal
  :float left
  :border-bottom = 1px solid !light
  :overflow hidden
  :width 98%
  :padding
    :left 10px
    :right 10px
.votes
  :float left
  :height 44px
  :width 38px
  :padding 4px
  :margin-top 10px
  :margin-left 4px
  :background = !reallydark
  :border = 1px solid !light
  :text-align center
.votes_text
  :font-weight bold
  :font-size 24px
  :height 22px
  :margin-bottom 4px
.proposal_summary
  :float left
  :width 800px
  :padding 10px
    :top 0px
  :font-size 24px
.proposal_author
  :float right
  :font-size 14px
.tag
  :font-size 14px
  :float left
  :margin 2px
  :padding 2px
  :background = !reallydark
  :border = 1px solid !light
  a
    :color = #999999