* {
  padding: 0px;
  line-height: 1.5em;
  margin: 0px; }

body {
  background: #121212 url("/images/background.jpg") top center no-repeat;
  color: white;
  font-family: Arial, Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 11px; }

a {
  font-weight: bold;
  color: #ffcc00;
  text-decoration: none; }

ul {
  margin-top: 7px;
  margin-left: 10px; }

li {
  margin-bottom: 3px;
  padding-left: 10px; }

ol {
  margin-left: 25px;
  list-style: decimal-leading-zero; }

h1, h2, h3, h4, h5, h6 {
  font-family: "TitilliumRegular", "Arial", "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
  color: #ff9600;
  margin-left: 5px; }

h1 {
  margin-left: 15px;
  font-size: 28px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  color: #ff9600;
  font-size: 14px; }

h6 {
  color: #ff9600;
  font-size: 12px; }

p {
  margin: 3px;
    margin-left: 8px; }

table {
  width: 920px;
  margin: 3px;
    margin-left: 8px;
  border-collapse: collapse; }

td {
  background: #131313;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #3e3e3e;
  padding: 4px;
    padding-left: 7px;
    padding-right: 6px; }

th {
  background: #282828;
  border-left: 1px solid #131313;
  border-bottom: 1px solid #131313;
  padding: 4px; }

tr {
  border-bottom: 1px solid #282828; }

.toprow {
  border-top: 1px solid #282828; }

label {
  width: 160px;
  font-weight: bold;
  float: left;
  text-align: right;
  display: block;
  margin-right: 10px;
  margin-top: 7px;
  text-transform: uppercase; }

input[type="submit"] {
  margin-left: 170px; }

input {
  padding: 4px;
  margin: 3px;
  font-size: 14px;
  background: #121212 !important;
  color: white;
  border: 1px #333333 solid; }

.checkbox {
  margin-top: 9px; }

#container {
  width: 950px;
  margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; }

#header {
  padding-top: 5px; }
  #header .header_link {
    font-family: "TitilliumBold", "Arial", "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
    font-size: 48px; }

#links {
  font-size: 11px;
  float: right;
  clear: both;
  background: #121212;
  padding: 4px; }
  #links .link_item {
    float: left;
    padding-left: 5px;
    padding-right: 5px; }

#nav {
  background: #282828;
  width: 100%;
  height: 30px;
  padding: 0px; }
  #nav .nav_item {
    height: 30px;
    float: left;
    padding-left: 5px;
    padding-right: 5px; }
  #nav a {
    font-family: "TitilliumMedium", "Arial", "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
    font-size: 20px; }

#search {
  float: right;
  clear: both; }
  #search input {
    height: 15px;
    background: #121212;
    color: white;
    border: 0px solid; }

#content {
  background: #131313;
  width: 100%;
  padding-bottom: 7px; }

#footer {
  margin: auto;
  width: 950px;
  height: 20px;
  font-size: 10px; }

#right-side {
  float: right; }

#left-side {
  float: left; }
