<p>Welcome to Nebula, <%= @resource.email %>!</p>

<p>To begin using Nebula you must first confirm that this is a valid email address. To do this, click on the link below:</p>

<p><%= link_to confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

