<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

<p>This is a security measure to deter people from trying lots of passwords to get into your account.

<p>Click the link below to unlock your account immediately:</p>

<p><%= link_to unlock_url(@resource, :unlock_token => @resource.unlock_token), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>If you do not click the link, your account will be unlocked automatically in 24 hours.</p>