%h1 Welcome to Nebula

%p
  Typography test

%h2 Second-level heading

%p
  More text
%h3 Third-level heading

%p
  More text
%h4 Fourth-level heading

%p
  More text
  
%h5 Fifth-level heading

%p
  More text