%h1=title 'Proposals'
.proposals_list
  - @proposals.each do |proposal| 
    .proposal
      .votes
        .votes_text=proposal.score
        votes
      .proposal_summary
        =link_to h(proposal.title), proposal_path(proposal)
        .proposal_author
          = image_tag proposal.character.portrait(16)
          = proposal.character.name
.footer{:style=>'clear:both;'}